# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US
# Keyboard selection.
d-i keyboard-configuration/xkb-keymap select us

# Static network
d-i netcfg/disable_dhcp boolean true
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/choose_interface select {{ mainnetwork.iface }}
d-i netcfg/get_ipaddress string {{ mainnetwork.address }}
d-i netcfg/get_netmask string {{ mainnetwork.netmask }}
d-i netcfg/get_gateway string {{ mainnetwork.gateway }}
d-i netcfg/get_nameservers string {{ mainnetwork.dns1 }} {{ mainnetwork.dns2 }}
d-i netcfg/get_hostname {{ hostname }}
d-i netcfg/get_domain {{ domain }}
d-i netcfg/confirm_static boolean true
d-i netcfg/get_ipaddress seen true
d-i netcfg/get_netmask seen true



# User account has sudo, no root
d-i passwd/root-login boolean false
#d-i passwd/make-user boolean false
# To create a normal user account.
d-i passwd/user-fullname string Ansible User
d-i passwd/username string ansible
# Normal user's password, either in clear text
d-i passwd/user-password password changeme
d-i passwd/user-password-again password changeme

#Clock/TimeZone
d-i clock-setup/utc boolean true
d-i time/zone string America/Denver
d-i clock-setup/ntp boolean true

# Partitioning
d-i partman-efi/non_efi_system boolean true
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/default_label string gpt
d-i partman-md/device_remove_md boolean true
d-i partman-auto/method string lvm
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string zeusvg
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman-lvm/confirm boolean true

# Partitioning
d-i partman-auto/disk string {{ os_disk }}
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true

d-i partman-auto/choose_recipe select atomic
#d-i partman-auto/expert_recipe string \
#   boot-root :: \
#      300 2048 2048 ext4 method{ format } \
#      $primary{ } $bootable{ } \
#      format{ } use_filesystem{ } filesystem{ ext4 } \
#      mountpoint{ /boot } \
#      . \
#      16384 16384 16384 linux-swap method{ swap } \
#      format{ } $lvmok{ } lv_name{ swap } \
#      . \
#      1 1000 100000000000 ext4 method{ lvm } \
#      $lvmok{ } mountpoint{ / } lv_name{ root } \
#      format{ } use_filesystem{ } filesystem{ ext4 } \
#      options/relatime{ relatime } \
#      . \
# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/use_mirror boolean true
# Avoid CD/DVD scan
d-i apt-setup/disable-cdrom-entries	boolean	true
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/cdrom/set-next boolean false
#d-i apt-setup/cdrom/set-failed boolean false


tasksel tasksel/first multiselect ssh-server

popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string {{ os_disk }}


d-i preseed/late_command string \
                in-target apt-get install -y git ansible curl ; \
                in-target mkdir -p -m755 /home/ansible/.ssh/ ; \
                in-target /bin/sh -c "/usr/bin/curl -q http://{{ podman_preseed_ip }}:8080/config > /home/ansible/.ssh/config" ; \
                in-target /bin/sh -c "/usr/bin/curl -q http://{{ podman_preseed_ip }}:8080/{{ users.ansible.git_ssh_private_key_name }} > /home/ansible/.ssh/{{ users.ansible.git_ssh_private_key_name }}" ; \
                in-target /bin/sh -c "/usr/bin/curl -q http://{{ podman_preseed_ip }}:8080/{{ users.ansible.github_ssh_private_key_name }} > /home/ansible/.ssh/{{ users.ansible.github_ssh_private_key_name }}" ; \
                in-target /bin/sh -c "/usr/bin/curl -q http://{{ podman_preseed_ip }}:8080/public_key >> /home/ansible/.ssh/authorized_keys " ; \
                in-target chown -R ansible:ansible /home/ansible/.ssh ; \
                in-target chmod -R 700 /home/ansible/.ssh

d-i finish-install/reboot_in_progress note
